:root {
	font-size: 10px;
}

body {
	font-size: 1.8rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#input {
	width: 80vw;
	background-color: #0b9b77;
	color: white;
	border-radius: 0.5rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#select-city {
	width: 100%;
	display: flex;
	justify-content: center;
}

#city-input {
	width: 40%;
	border-radius: 10rem 0 0 10rem;
}

#city-input:focus {
	outline: none;
}

#go {
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	background-color: black;
	border-radius: 0 10rem 10rem 0;
	cursor: pointer;
}

.city {
	border: none ;
	font-size: 2rem;
	padding: 1rem 2rem;
}